<mat-card>
    <mat-card-title>Nova Não Conformidade</mat-card-title>
    <form>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Data Abertura</mat-label>
                <input matInput type="datetime-local" matInput [(ngModel)]="naoConformidade.dataAbertura" name="dataAbertura" />
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Cliente</mat-label>
            <mat-select [(ngModel)]="naoConformidade.clienteId" name="cliente">
                <mat-option *ngFor="let cliente of clientes" [value]="cliente.id"> {{cliente.nome}} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Produto</mat-label>
            <mat-select [(ngModel)]="naoConformidade.produtoId" name="produto">
                <mat-option *ngFor="let produto of produtos" [value]="produto.id"> {{produto.descricao}} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Problema</mat-label>
            <mat-select [(ngModel)]="naoConformidade.problemaId" name="problema">
                <mat-option *ngFor="let problema of problemas" [value]="problema.id"> {{problema.descricao}} </mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Quantidade</mat-label>
                <input type="number" matInput [(ngModel)]="naoConformidade.quantidade" name="quantidade" />
            </mat-form-field>
        </div>
    </form>
    <button mat-raised-button (click)="criarNaoConformidade()" color="primary">Salvar
  </button>

    <button mat-raised-button (click)="cancelar()">Cancelar</button>
</mat-card>
