.home .title {
    font-size: 3rem;
    font-weight: 50;
    line-height: 1.2;
}

.subtitulo {
    font-size: 1.2rem;
}

.subtitulo>i {
    color: #5ee369;
}

.instrutor {
    font-size: 1.2rem;
}

.instrutor>i {
    color: #e35e6b;
}