<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        <img class="logo" src="assets/img/logo.png" alt="logo"> Sistema para Cadastros de Não Conformidades
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <mat-card-content class="subtitulo">
            <i class="material-icons">
        spa
      </i> Desenvolvido para avaliação do curso de <strong>Formação C#</strong>
        </mat-card-content>

        <mat-card-content class="instrutor">
            <i class="material-icons">
        self_improvement
      </i> Instrutor: <strong>Diego Cugiki</strong>
        </mat-card-content>
    </mat-card-subtitle>
</mat-card>