<div>
    <mat-card>
        <mat-card-title>Deseja realmente excluir este Problema?</mat-card-title>
        <form>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Descrição do Problema" [value]="problema.descricao" name="descricao" disabled>
            </mat-form-field>
        </form>
        <mat-card-actions appearance="outline">
            <button mat-raised-button (click)="apagarProblema()" color="warn">
        Excluir
      </button>

            <button mat-raised-button (click)="cancelar()">
        Cancelar
      </button>
        </mat-card-actions>
    </mat-card>
</div>