<div>
    <mat-card>
        <mat-card-title>Alterar Problema</mat-card-title>
        <form>
            <mat-form-field>
                <input [formControl]="erro" required matInput placeholder="Descrição do Problema" [(ngModel)]="problema.descricao" name="descricao">
            </mat-form-field>

        </form>

        <button [disabled]="!erro.valid" mat-raised-button (click)="atualizarProblema()" color="primary">
    Atualizar
  </button>

        <button mat-raised-button (click)="cancelar()">Cancelar </button>

    </mat-card>
</div>
